@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #84A9AC;
    font-family: 'Ubuntu', sans-serif;;
}

.jumbotron{
    margin-top: 60px;
}

.submit{
    margin-top: 8px;
}